@charset "UTF-8";

body {
  background-color: #212533;
  font: uni sans heavy;
}

input {
  color: #212533;
  background-color: rgb(205, 223, 240);
  border: none;
  padding: 15px 50px;
  font-size: 12px;
}

input:hover{
	background: #eee;
}

.wrapper {
  display: flex;
  height: 600px;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: row-reverse;
  
}
.item p {
  padding: 0px;
  margin: 0;
  color: #212533;
  background-color: rgb(205, 223, 240);
}
.item-winner {
  position: relative;
  margin-left: 50px;
  display: flex;
  align-items: center;
}
.item-winner:after {
  position: absolute;
  content: '';
  width: 25px;
  height: 2px;
  left: 0;
  top: 50%;
  background-color: #fff;
  transform: translateX(-100%);
}
.item-players {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item-player {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}
.item-player:before {
  content: '';
  position: absolute;
  background-color: #fff;
  right: 0;
  top: 50%;
  transform: translateX(100%);
  width: 25px;
  height: 2px;
}
.item-player:after {
  content: '';
  position: absolute;
  background-color: #fff;
  right: -25px;
  height: calc(50% + 22px);
  width: 2px;
  top: 50%;
}
.item-player:last-child:after {
  transform: translateY(-100%);
}
.item-player:only-child:after {
  display: none;
}